body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

:root {
  --color-primary: #0984e3;
  --color-primary-light: lightblue;
  --color-error: red;
  --color-light: grey;
  --color-dark: black;
}
