.PathInput_input {
  font-size: inherit;
  line-height: inherit;
  display: block;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  width: 100%;
}

.PathInput_input:focus {
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

.PathInput_btn {
  display: block;
  margin-left: auto;
  background-color: #0984e3;
  color: white;
  cursor: pointer;
  border: none;
  font-size: 16px;
  width: 200px;
  border-radius: 100px;
  padding: 10px;
}

.PathInput_label {
  font-size: 20px;
  display: flex;
  flex-direction: row;
}

.PathInput_label span {
  width: 70px;
  margin-right: 10px;
  text-align: right;
}

.PathInput_random {
  padding: 0 5px;
  border: none;
  margin: 0;
  height: 20px;
}
