.PathInput_fieldset {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: 10px;
}

.PathInput_field {
  flex: 1;
  margin-right: 10px;
}

.PathInput_field label {
  color: #333;
}

.PathInput_input {
  margin-top: 5px;
  font-size: 20px;
  width: 100%;
  border: none;
  border-bottom: 1px solid grey;
}

.PathInput_input:focus {
  outline: none;
  border-bottom: 2px solid black;
}

.PathInput_random {
  color: grey;
  padding: none;
  background: none;
  float: right;
  cursor: pointer;
  border: none;
}

.PathInput_btn {
  display: block;
  margin-left: auto;
  background-color: #0984e3;
  color: white;
  cursor: pointer;
  border: none;
  font-size: 16px;
  width: 200px;
  border-radius: 100px;
  padding: 10px;
}
