.PathInput_fieldset {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: -10px;
  margin-right: -10px;
  margin-bottom: 10px;
}

.PathInput_field {
  flex: 1;
  flex-basis: 250px;
  margin-right: 10px;
  margin-top: 10px;
}

.PathInput_field label {
  color: #333;
}

.PathInput_input {
  margin-top: 5px;
  margin-bottom: 1px;
  font-size: 20px;
  width: 100%;
  border: 1px solid #aaa;
  padding: 8px;
  border-radius: 4px;
}

.PathInput_input:focus {
  outline: none;
  border: 1px solid var(--color-dark);
}

.PathInput_random {
  color: var(--color-light);
  padding: none;
  background: none;
  float: right;
  cursor: pointer;
  border: none;
}

.PathInput_btn {
  display: block;
  margin-left: auto;
  background-color: var(--color-primary);
  color: white;
  cursor: pointer;
  border: none;
  font-size: 16px;
  width: 200px;
  border-radius: 100px;
  padding: 10px;
  border: 2px solid transparent;
}

.PathInput_btn:focus {
  border: 2px solid var(--color-primary-light);
  outline: none;
}
